{% extends 'test_copy.html' %}
{% block title %}carrier_delay{% endblock %}

{% block content %}

<h1>Carrier Delay</h1>
        <hr>
        <ul>
            <!-- <li> Airport v/s Delays</li> <p>- delays pertaining to top 10 airport</p>
            <li>Carrier v/s Delays </li> <p>-delays caused by carriers</p> -->
        </ul>
    <div id="myPlot">
    </div>
    <script>
        Plotly.newPlot("myPlot", {{ fig5 | safe }})
    </script>

    <p style ="font-weight: bold;" > Observation: American Airlines has the most Carrier Delays with Southwest and United Airlines following.</p>
    
{% endblock %}
