{% extends 'test.html' %}
{% block title %}content{% endblock %}

{% block content %}

<h2  class="lead" style="color: red; font-weight: bold;">Most watched movie or tvshow by country.</h2>
<hr style=" height:2px; border-width:0;color:gray;background-color:gray">

 <!--<div class="row">
    <div class="col-lg-6" style="padding-left: 70px;">

       
        {{ pie_dict }} -->
        
     <!--</div>
    

   <div class="container">
       
    </div>-->
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<footer style="height:200px; background-color:#F7C201; margin-bottom: 10px;">
        <!--<h1><Made with 🤍 at DigitalOcean</h1>-->
     
              <div class="row text-center text-md-left">
                  
                <img src= "/static/images/netflixbg.jpg" alt="first image" style="margin-top:0px; width:1500px ;height:250px; padding-top: 0px;">
                   
                  
    
               </div>
</footer>
    
{% endblock %}


