{% extends 'test.html' %}
{% block title %}performance{% endblock %}

{% block content %}

<h2 class="lead" style="color: red; font-weight: bold;">COUNTRIES BY GENRE</h2>
<hr style=" height:2px; border-width:0;color:gray;background-color:gray">

       <!-- <ul>
            <li> Airport v/s Delays</li> <p>- delays pertaining to top 10 airport</p>
            <li>Carrier v/s Delays </li> <p>-delays caused by carriers</p>
        </ul>
    <div class="container">
       
    </div>
    <p style="background-color:mintcream; width: 100%; font-family:Georgia, 'Times New Roman', Times, serif;">What is the possible cause of cancellation or delays within the airline's control and what is the most extreme factor that causes the delay of flights? • 
        How does the flight delay percentage change over time?</p>
     <p style ="font-weight: bold;" > Observation:</p>-->
{% endblock %}
