{% extends 'test_copy.html' %}
{% block title %}performance{% endblock %}

{% block content %}

<h1>Airport Performance</h1>
        <hr>
        <!-- <ul>
            <li> Airport v/s Delays</li> <p>- delays pertaining to top 10 airport</p>
            <li>Carrier v/s Delays </li> <p>-delays caused by carriers</p>
        </ul> -->
    <div id="myPlot">
    </div>
    <script>
        Plotly.newPlot("myPlot", {{ fig4 | safe }})
    </script>

    <p style ="font-weight: bold;" > Observation: Total Delayed Airport Flights: Atlanta with most delayed flights with LA second, and DFW third</p>
    
{% endblock %}
