{% extends 'test.html' %}
{% block title %}revenue{% endblock %}

{% block content %}


<!--<h2 class="lead" style="color: red; font-weight: bold;">NETFLIX SUBSCRIBERS AND REVENUE BY COUNTRY</h2>-->
<!--<hr style=" height:2px; border-width:0;color:gray;background-color:gray">-->
<div class ="container" style="background: url(/static/images/subrev.jpg); width: 1000px; height: 200px;">
</div>
<p style="color: rgb(114, 57, 8);">Netflix now reveals its revenue and subscription figures in four different regions — <B style="color: deepskyblue;">the United States and Canada; Europe, the Middle East, and Africa; Latin America; and Asia-Pacific</B>.<br> This allows us to more accurately estimate the <B style="color: crimson;">revenues</B> generated in each country, while also seeing how Netflix’s <B style="color: crimson;">subscription figures </B> and revenues have grown in each of these regions over the last<br> 2.5 years.</p>




{% endblock %}
