{% extends 'test_copy.html' %}
{% block title %}Routes{% endblock %}

{% block content %}

<h2> Time Delayed (Hours) </h2>
<hr style=" height:2px; border-width:0;color:gray;background-color:gray">
        
<body>
    Index
    <div id="myPlot"></div>
</body>
<script>
    Plotly.newPlot("myPlot", {{ fig3 | safe }})
</script>

<p style ="font-weight: bold;" > Observation: Atlanta Delta Airlines had the most delays (27.5K) with DFW American Airlines (21.7K) following second consistently throughout the years.</p>

{% endblock %}
    