{% extends 'test.html' %}
{% block title %}search{% endblock %}

{% block content %}

<h2  class="red-text" style="color: red;">NETFLIX search engine by movie </h2>
<hr style=" height:2px; border-width:0;color:gray;background-color:gray">
<div class="box">
     <p>This is a text based recommendation engine. It indirectly finds the highest and smallest angle between two vectors by finding the largest cosine between the two vectors.

    </p>
   </div>     
    <!--<div class="container">
       
    </div>-->

   
        

{% endblock %}