<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="description" content="">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

   <!--<link rel="stylesheet" href="style.css">-->
   

    
    <title>Netflix Trend and Analysis</title>
</head>
<body style="background-color: rgb(240, 231, 231)">
    
    <nav class="navbar navbar-light" style="background: url(/static/images/bg-menubar.jpg);">
        <!--<div class="container">-->
            <div class="navbar-header" >
                <a class="navbar-brand logo" href="{{ url_for('index')}}"> 
                <span class="nav-color" style="color: red;">NETFLIX TREND AND ANALYSIS</span></a>
            </div>
           

            <div class="nav navbar-nav navbar-right">

                <li><a href="{{ url_for('index')}}" style="color:red"> Home</a></li>

               <li><a href="{{ url_for('search')}}" style="color:red"> Search Engine</a></li>

                <li class="dropdown"><a style="color:red" class="dropdown-toggle" data-toggle="dropdown">Visuals<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('content')}}" >Country by content type</a></li>
                        <li><a href="{{ url_for('genre')}}">Countries by genre</a></li>
                        
                    </ul>
                </li>
                <li><a href="{{ url_for('corelation')}}" style="color:red"> Netflix correlation</a></li>
                <li><a href = "{{ url_for('heatmap')}}" style="color:red">Heat Map</a></li>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;                                        
            <!--</div>-->
        <!--</div>-->     
    </nav>
    {% block content %}
    {% endblock %}
   <!--<div class = "container">     -->       
        <!--<div class="panel panel-default">-->
            <!--<div class="panel-body">       
                    
            
            </div>-->
               
        <!--</div>-->
                
   <!--/div>-->


  
</body>
</html>